@import url('https://fonts.googlepis.com/css2?family=Poppins&display=swap');
body{
    font-family: "Poppins", sans-serif;
    background-color: purple;
}

section{
    text-align: center;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    background-color: white;
    margin-top: 75px;
    box-shadow: 0px 10px 36px 16px black; 
}

.game--title{
    padding-top: 20px;
}

.game--container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 150px;
    margin: 120px;
    margin-top: 10px;
}

.cell{
    font-family: "Poppins",sans-serif;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 0 1px black;
    cursor: pointer;
    line-height: 50px;
    font-size: 20px;
}

button{
    margin-bottom: 20px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #8c52ff;
    cursor: pointer;
}

button:hover{
    transition: 0.25s;
    background-color: #c1a2fe;
}
